@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&family=Quicksand:wght@600&display=swap");

body {
    font-family: "Montserrat", "Quicksand", sans-serif;
}

pre {
    font-family: unset;
    font-weight: unset;
}

[data-bs-theme="dark"] .swal-button--cancel {
    background-color: inherit !important;
}
