@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

html {
    scroll-padding-top: 77px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

pre {
    font-family: unset;
    font-weight: unset;
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: unset;
}

main {
    padding-top: 77px;
}
